.Menu {
    background-color: #A6292A;
    text-align: center;
    color: #FA0F13;
    height: 75px;
    margin-bottom: 20px;
  }
  
  .menu-title {
    font-size: 24px;
  }
  
  .Corps {
    background-color: #6495ED;
    display: flex;
    flex-direction: column; /* Les éléments à l'intérieur seront disposés en colonne */
    align-items: center; /* Alignement au centre horizontalement */
    height: 350px;
  }
  
  .blue-block {
    background-color: #6495ED;
    padding: 0; /* Supprimer les marges intérieures */
    text-align: justify; /* Justifier le texte */
  }
  
  .columns {
    display: flex;
    flex-direction: row; /* Les éléments à l'intérieur de .columns seront disposés en ligne */
  }
  
  .column-left {
    background-color: #2677A5;
    padding: 20px;
    flex: 1;
  }
  
  .column-right {
    background-color: #47E187;
    padding: 20px;
    flex: 1;
  }
  
  .table {
    border-collapse: collapse;
  }
  
  .table td {
    border: 1px solid black;
    padding: 10px;
  }
  
  .Footer {
    background-color: #BDB76B;
    text-align: center;
    padding: 10px;
    height: 100px;
  }
  
  .Footer a {
    text-decoration: underline;
    color: #561C8E;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  